<%= nested_form_for (survey) do |f| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, :class=>"form-control" %>
  </div>
 
  <div class="panel panel-default">
    <div class="panel-body">
      
      <%= f.fields_for :questions do |question_form| %>
        <h3>Question</h3>
          <div class="input-group">
            <!--input type="text" class="form-control"-->
            <%= question_form.text_field :content, :class=>"form-control" %>
            <span class="input-group-btn">
                  <!--button class="btn btn-default" type="button">Go!</button-->
                  <%= question_form.link_to_remove "Remove this question", :class=>"btn btn-danger"  %>
            </span>
          </div>

        
        


        <!--div class="panel panel-default">
          <div class="panel-body"-->
            
              <h4>Answers</h4>
            <%= question_form.fields_for :answers do |answer_form| %>
            

              <div class="input-group">
                <%= answer_form.text_field :content, :class=>"form-control" %>
                <span class="input-group-btn">
                      <!--button class="btn btn-default" type="button">Go!</button-->
                      <%= answer_form.link_to_remove "Remove this answer", :class=>"btn btn-danger" %>
                </span>
              </div>
              </br>
              
              
            <% end %>
            </br>
          <!--/div>
        </div-->

          
          <p><%= question_form.link_to_add "Add a answer", :answers, :class=>"btn btn-primary" %></p>

          <hr>
      <% end %>

      <p><%= f.link_to_add "Add a question", :questions, :class=>"btn btn-primary" %></p>
      <hr>
      
    </div>
  </div>

  

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
